.fire
{
    background-color: rgb(255, 169, 40);
    padding: 4px;
    border-radius: 2px;
}

.fire1
{
    background-color: rgb(255, 169, 40);
    padding: 4px;
    border-radius: 2px;
    background-size: contain;
}

.grass
{
    background-color: rgb(52, 159, 107);
    padding: 4px;
    border-radius: 2px;

}

.grass1
{
    background-color: rgb(0, 207, 107);
    padding: 4px;
    border-radius: 2px;
    background-size: contain;
}

.water
{
    background-color: rgb(8, 65, 171);
    padding: 4px;
    border-radius: 2px;
}

.water1
{
    background-color: rgb(8, 65, 171);
    padding: 4px;
    border-radius: 2px;
    background-size: contain;
}

.psychic
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;
}

.psychic1
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;    
    background-size: contain;
}

.steel
{
    background-color: rgb(77, 77, 77);
    padding: 4px;
    border-radius: 2px;
}

.steel1
{
    background-color: rgb(80, 80, 80);
    padding: 4px;
    border-radius: 2px;
    background-size: contain;

}

.fighting
{
    background-color: rgb(150, 115, 2);
    padding: 4px;
    border-radius: 2px;
}

.fighting1
{
    background-color: rgb(150, 115, 2);
    padding: 4px;
    border-radius: 2px;
        background-size: contain;

}

.poison
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;
}

.poison1
{
    background-color: rgb(59, 10, 102);
    padding: 4px;
    border-radius: 2px;
        background-size: contain;

}

.fairy
{
    background-color: rgb(241, 81, 255);
    padding: 4px;
    border-radius: 2px;
}

.fairy1
{
    background-color: rgb(241, 81, 255);
    padding: 4px;
    border-radius: 2px;
        background-size: contain;

}

.dark
{
    background-color: rgb(30, 12, 46);
    padding: 4px;
    border-radius: 2px;
}

.dragon
{
    background-color: rgb(150, 115, 0);
    padding: 4px;
    border-radius: 2px;
}

.ghost
{
    background-color: rgb(170, 170, 170);
    padding: 4px;
    border-radius: 2px;
}

.rock
{
    background-color: rgb(65, 65, 65);
    padding: 4px;
    border-radius: 2px;
}

.bug
{
    background-color: rgb(102, 131, 0);
    padding: 4px;
    border-radius: 2px;
}

.flying
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;
}

.ground
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;
}

.dark1
{
    background-color: rgb(30, 12, 46);
    padding: 4px;
    border-radius: 2px;
}

.dragon1
{
    background-color: rgb(150, 115, 0);
    padding: 4px;
    border-radius: 2px;
}

.ghost1
{
    background-color: rgb(170, 170, 170);
    padding: 4px;
    border-radius: 2px;
}

.rock1
{
    background-color: rgb(65, 65, 65);
    padding: 4px;
    border-radius: 2px;
}

.bug1
{
    background-color: rgb(102, 131, 0);
    padding: 4px;
    border-radius: 2px;
}

.flying1
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;
}

.ground1
{
    background-color: rgb(81, 2, 150);
    padding: 4px;
    border-radius: 2px;
}

img
{
    width: 70%;
    margin-left: 10%;
}

#separador_Imagen
{
    width: 80%;
    height: 52%;
    margin-left: 10%;
}